<div id="play-area" class="boxy">
  <div id="video-container">
    <div id="video"></div>
  </div>
  <div id="title-container">
    <input type="hidden" id="secret-query" query="<%= @query %>">
    <input type="hidden" id="defined-length" len="2">
    <input type="hidden" id="initial-video" video-hash="<%= @initial.idstr %>" video-title="<%= @initial.title %>" anime-id="<%= @initial.anime_id %>" anime-title="">
    <h1 id="anime-title" class="mid-big">一番最近↑age↑されたビデオ</h1>
    <h2 id="video-title" class="mid-big"></h2>
    <div id="actions-to-anime"><a id="action-show" href="/animes/1">アニメTOP</a> <!-- | <a id="action-edit" href="/animes/1/edit">Edit</a> --> | <a id="action-age" class="action-age" href="#" destination="/like/1/update">↑age↑</a></div>
    <div id="video-controllers">
      <!-- div>
        <a href="#" id="play-prev"><img src="http://otiai10.com/public/src/icon/png/glyphicons_170_step_backward.png"></a>
      </div -->
      <div>
        <!--a href="#"><img id="play-stat" src="http://otiai10.com/public/src/icon/png/glyphicons_173_play.png"></a-->
        <a href="#" id="play-stat"><img id="play-stat-img" src="http://otiai10.com/public/src/icon/png/glyphicons_174_pause.png"></a>
      </div>
      <div>
        <a href="#" id="play-next"><img src="http://otiai10.com/public/src/icon/png/glyphicons_178_step_forward.png"></a>
      </div>
    </div>
  </div>
</div>
<div id="table-area">
  <table>
    <tr>
      <th>アニメタイトル</th>
      <!-- th>曜日</th -->
      <th>スコア</th>
      <th>OP</th>
      <th>ED</th>
      <th></th>
    </tr>

    <% @animes.each_with_index do |anime,i| %>
    <tr>
      <td>
        <p><h1 class="anime_title" data-title="<%= anime.title %>" render-to="<%= anime.id %>" sequence="<%= i + 1 %>"><%= anime.title %></h1></p>
        <%= link_to 'アニメTOP', anime %> <!-- | <%= link_to 'Edit', edit_anime_path(anime) %> | <a class="action-age" href="#" destination="/like/add/<%= anime.id %>">↑age↑</a> -->
      </td>
      <!-- td><%= anime.day_of_week %></td -->
      <td><h1><%= anime.point %></h1></td>
      <td>
        <div id="_id_<%= anime.id %>" class="render-area"></div>
      </td>
      <td>
        <div id="_id_ED_<%= anime.id %>" class="render-area"></div>
      </td>
      <td class="destroy"><%= link_to 'ぜんぜん違うから消す！', anime, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
    </tr>
    <% end %>
    <tr><td><h1 class="stay-center"><%= link_to 'Add New Anime', new_anime_path %></h1></td></tr>
  </table>
</div>
<div id="age-response-ux"><span>(☝ ՞ω ՞)☝</span></div>
