<h1>Listing animes</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Day of week</th>
    <th>Description</th>
    <th>Point</th>
    <th>Year</th>
    <th>Season</th>
    <th>Point</th>
    <th>Info</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @animes.each do |anime| %>
  <tr>
    <td><%= anime.title %></td>
    <td><%= anime.day_of_week %></td>
    <td><%= anime.description %></td>
    <td><%= anime.point %></td>
    <td><%= anime.year %></td>
    <td><%= anime.season %></td>
    <td><%= anime.point %></td>
    <td><%= anime.info %></td>
    <td><%= link_to 'Show', anime %></td>
    <td><%= link_to 'Edit', edit_anime_path(anime) %></td>
    <td><%= link_to 'Destroy', anime, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Anime', new_anime_path %>
