<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @anime.title %>
</p>

<p>
  <b>Day of week:</b>
  <%= @anime.day_of_week %>
</p>

<p>
  <b>Description:</b>
  <%= @anime.description %>
</p>

<p>
  <b>Point:</b>
  <%= @anime.point %>
</p>

<p>
  <b>Year:</b>
  <%= @anime.year %>
</p>

<p>
  <b>Season:</b>
  <%= @anime.season %>
</p>

<p>
  <b>Point:</b>
  <%= @anime.point %>
</p>

<p>
  <b>Info:</b>
  <%= @anime.info %>
</p>


<%= link_to 'Edit', edit_anime_path(@anime) %> |
<%= link_to 'Back', animes_path %>
