<!DOCTYPE html>
<html>
<head>
  <title>アニソンきゃっち！</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="shorcut icon" href="http://otiai10.com/public/src/age.png"/>
  <script src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
  <script src="http://otiai10.com/anicatch/js/youtubeController.js"></script>
</head>
<body>
  <div class="contents">
    <h2 id="universal-title"><a href="http://otiai10.com:3000/">今季アニメのOPだけ聞き流してキャッチアップした気分になれる「アニソンきゃっち！」</a></h2>
    <span id="notice"><%= notice %></span>
    <%= yield %>
    <footer>
      <h3><a href="http://otiai10.com:3000/">アニソンきゃっち！</a></h3>
      <hr>
      <h5><small>日常をちょっとだけ良くしたい委員会</small></h5>
    </footer>
  </div>
</div>
</body>
</html>
